@model IEnumerable<InventorySystem.Models.Entities.Manager>


<div class="pt-3">
    <div class="row pt-4">

    </div>
    <div class="col-6">
        <h2 class="text-primary">Managers List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-controller="Manager" asp-action="Create" class="btn btn-primary">
            Create New Manager
        </a>
    </div>

    <br /> <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-dark" >
            <thead>
                <tr>
                    <th scope="col">
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th scope="col">
                        Middle Name

                    </th>
                    <th scope="col">
                        Email
                    </th>
                    <th scope="col">
                        Phone Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td>@obj.FirstName</td>
                    <td>@obj.LastName</td>
                    <td>@obj.MiddleName</td>
                    <td>@obj.Email</td>
                    <td>@obj.PhoneNumber</td>

                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> Oops No Manager  Yet</p>
    }

</div>


